html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a:link {
    text-decoration: none;
}

.animate-pulse {
    background-color: #ebecf5;
    width: 100%;
    height: 100%;
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
